@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Manuale:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-gradient {
    // background: linear-gradient(135deg, #000000, #000000 25%, #8000ff 75%, #8000ff);
    // background: radial-gradient(circle at bottom, #000000, #000000 40%, #8000ff 60%, #8000ff);
    //   background-repeat: repeat;
    background: radial-gradient(
            circle at bottom,
            rgba(128, 0, 255, 0.8),
            transparent 70%
        ),
        linear-gradient(to bottom, #000000, #000000 30%, #8000ff 70%, #8000ff);
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    height: 200vh;
    margin: 0;
}

.nav-item{
    @apply text-white
}